    .search-bar {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    }

    .search-input {
    width: 100%;
    padding: 12px 42px 12px 14px; /* Right padding for ✖ icon space */
    font-size: 16px;
    border: 2px solid #ccddee;
    border-radius: 12px;
    outline: none;
    transition: 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    }

    .search-input:focus {
    border-color: #e98c3b;
    box-shadow: 0 0 0 3px rgba(94, 96, 206, 0.15);
    }

    .clear-btn {
    margin-left: 100px;
    width: fit-content;
    margin-top: -48px;
    margin-bottom: 52px;
    margin-left: 525px;
    }

    .clear-btn:hover {
    color: #f44336;
    }
