.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.search-input {
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #e0d4c3;
  flex: 1 1 250px;
  background-color: #fffdf8;
}

.search-btn,
.clear-btn {
  background-color: var(--accent);
  border: none;
  padding: 0.7rem 1.1rem;
  font-size: 0.95rem;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s;
}

.clear-btn {
  background-color: #f8dada;
  color: #222;
}

.search-btn:hover {
  background-color: #e4b34c;
}

.clear-btn:hover {
  background-color: #eebbbb;
}
